/*a, span, li, header, div, footer, header{
  border: 1px solid white;
}
img{
  border: 1px solid white;
}*/

html{
  height: 100%;
  font-size: 18px;
  font-family: Helvetica;
}

span, p{
  color: white;
}

/*HEADER*/
header{
  background-color: black;
  display: flex;
  justify-content: center;
}

.header_container{
  display: flex;
  width: 960px;
  align-items: center;
}

.header_container img{
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 0.5rem;
}

.header_container span{
  margin: 0.66rem 0rem;
  font-size: 1rem;
}

/*BANNER*/
.banner{
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-position: center;
  height: 25rem;
  display: flex;
  justify-content: center;
}

.banner_container{
  display: flex;
  width: 960px;
}

.banner_box{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 25rem;
  height: 10rem;
  margin-top: 9rem;
  font-weight: bold;
}

.banner_box span{
  font-size: 1rem;
  margin: 2rem 0rem 0.25rem 3rem;
}

.banner_box p{
  font-size: 2rem;
  margin-left: 3rem;
  margin-bottom: 0.25rem;
}

/*NAV TAB*/
.div_tab{
  display: flex;
  justify-content: center;
  background-color: firebrick;
}

.tab_container{
  width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
}

a{
  color: white;
}

.tab_container nav{
  width: inherit;
  display: flex;
  justify-content: space-between;
}

/*CONTENT*/
.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

.content_container{
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image{
  width: 30%;
  border: 4px solid black;
}

.image img{
  height: 9rem;
  width: auto;
  padding: 2rem 0rem;
  display: block;
  margin: auto;
}

.image p{
  background-color: black;
  text-align: center;
  padding: 0.5rem 0rem;
}

.image.glasses{
  display: flex;
  flex-direction: column;
}

.image.glasses img{
  height: 4rem;
  width: auto;
  display: block;
  margin: auto;
  padding: 0rem;
}

.info_container{
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.location, .hours{
  width: 35%;
  margin-bottom: 4rem;
}

.info_container p{
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
  margin-bottom: 1%;
}

.info_container span{
  color: black;
}

/*FOOTER*/
footer{
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container{
  width: 960px;
}
